.LoginPage {
  border: none;
  align-self: center;
}

.FormLabel {
  font-weight: bolder;
  margin-bottom: 0;
  color: #dee5e5;
}

.FormInput {
  background-color: #221d23;
  color: #dee5e5;
  border: none;
}

.FormInput:focus {
  background-color: #221d23;
  color: #dee5e5;
  box-shadow: none;
}

.Submit {
  background-color: #a4031f;
  border: none;
  color: #dee5e5;
  width: 25vw;
}

.Submit:hover {
  background-color: #a4031f;
  border: none;
  color: #dee5e5;
  width: 25vw;
}

/* LoginPage.module.css */
.LoginHeading {
  color: #dee5e5;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.SignUpLink {
  color: #dee5e5;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  margin-top: 10px;
}
.SignUpLink:hover {
  color: #dee5e5;
  text-decoration: underline;
}

/* LoginPage.module.css */
.SubmitPadding {
  padding-top: 20px; /* Adjust the value as needed */
}
